<!DOCTYPE html>
<html>

<head>
  <title>URL Shortener Microservice!</title>
  <meta name="description" content="A url shortener using a MongoDB database from mLab via Heroku">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">

</head>

<body>
  <header>
    <h1>
        URL Shortener Microservice
      </h1>
  </header><br>
  <main>
    <section>
      <h3>
    Enter a URL after 'new/' to create a short URL - see example below
    </h3>
      <p>
        Example: https://url-shorten-microservice-ajb.glitch.me/new/www.google.com
      </p>
      <h3>
          This will return:
        </h3>
      <p>
        {
          "_id": "5b0917bdee1ac706d2f4cd05",<br>
          "originalURL": "www.google.com", <br>
          "shortenedURL": "HJSaPc8ym" <br>
        }
      </p>
      <h4>
          Using the shortened url, redirects back to 
        </h4>
      <p>
        https://www.google.com
      </p>
    </section>
  </main>

  <footer>
    <a href="https://github.com/AndrewJBateman/URL-shorten-microservice.git"></a>
  </footer>
</body>

</html>